@import '../../../init/scss/_settings';
@import '../../../init/scss/_images';


#searchLensView,
#filterLensView {

    h3 {
        font-size: 1em;
        font-weight: 500;
        margin: 0 0 20px 0;
    }

    ul {
        padding: 0;
    }

    .search-row {
        list-style: none;
        margin: 0 0 17px 0;
        border: 1px solid $lens-border-soft;
        background-color: $lens-soft-background;
        padding: 5px 0;
        border-radius: 2px;

        &:hover {
            border-color: $search-border;
        }
    }

    .counter {
        font-size: 0.7em;
        font-weight: 500;
        color: $lens-text-hard;
        width: 15px;
        min-width: 21px;
        text-align: center;
        display: table-cell;
    }

    .joiner,
    .field,
    .term,
    .text,
    .bool {
        padding-right: 3px;
        display: table-cell;
    }

    .delete {
        display: table-cell;
        vertical-align: middle;
    }

    .field select {
        width: 115px; // so moving between tabs does not resize cause of content
    }

    .text {
        width: 100%;
    }

    .drop-down {
        overflow: hidden;
        width: unset;
    }

    select {
        border: 1px solid $node-green;
        border-radius: 2px;
        padding: 4px 5px 6px 5px;
        color: $lens-text-hard;
        background-color: $search-background;
        border-color: $search-border;
    }

    .textarea-wrapper {
        overflow: auto;
    }

    textarea,
    input {
        border: 1px solid transparent;
        border-radius: 2px;
        min-height: 1.88rem;
        max-height: 800px;
        overflow: auto;
        padding: 5px;
        margin: 0;
        width: 100%;
        height: 1rem;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        resize: none;
        display: block;
        color: $lens-text-blue;
        font-weight: 400;
        color: $lens-text-hard;
        background-color: $search-background;
        border-color: $search-border;
    }

    input {
        padding: 5px 5px 7px 5px;
    }

    textarea::placeholder,
    input::placeholder {
        font-style: italic;
        color: $lens-text-soft;
    }

    input:hover,
    textarea:hover,
    select:hover {
        border-color: rgb(255, 0, 255);
    }

    .btn-delete,
    .btn-add {
        float: right;
        cursor: pointer;
        width: 19px;
        height: 19px;
        background-repeat: no-repeat;
        margin: 0 3px 0 0;
        opacity: 0.5;
        background-size: 15px 15px;
        background-position: center;
        border: 1px solid transparent;
    }

    .btn-delete,
    .search-row:hover .btn-delete:active {
        background-image: $svg-delete;
    }

    .search-row:hover .btn-delete {
        background-image: $svg-delete-active;
        opacity: 1;
    }

    .btn-add,
    .add:hover .btn-add:active {
        background-image: $svg-add;
    }

    .btn-add {
        margin: 19px 15px 8px 3px;
    }

    .add:hover .btn-add {
        background-image: $svg-add-active;
        opacity: 1;
    }

    .add:hover .btn-add:hover,
    .search-row:hover .btn-delete:hover {
        background-color: $lens-control-hover;
        border-color: $lens-border-highlight;
        border-radius: 2px;
    }

    .search-row:hover .btn-delete:active {
        background-color: $error;
    }

    .add:hover .btn-add:active {
        background-color: $solution;
    }

    .add {
        overflow: hidden;
        margin-right: -11px;
    }

    .add {
        overflow: hidden;
        margin-right: -11px;
        margin: 15px -11px 5px 0;
    }

    .results {
        overflow: visible;
        display: block;
        margin: 20px 0 0 0;
    }

    table {
        font-size: 0.7em;
        border-collapse: collapse;
        position: unset;
        width: 100%;
    }

    thead tr {
        background-color: $lens-table-head;
        color: $lens-text-hard;
        font-weight: 500;
    }

    thead td {
        padding: 5px 10px;
    }

    thead td.td-tick {
        padding: 0;
    }

    tbody tr {
        border-bottom: 1px solid $lens-table-row-divider;
        font-weight: 500;
    }

    tbody tr.selected {
        background-color: $lens-table-row-selected;
    }

    tbody tr:hover {
        background-color: $lens-table-row-hovered;
        cursor: pointer;
    }

    tbody tr:active {
        background-color: $lens-table-row-active;
    }

    tbody tr:last-child {
        border-bottom: none;
        font-weight: 500;
    }

    tbody td {
        padding: 5px 10px;
    }

    tbody td.td-open {
        padding: 0 5px;
        width: 20px;
    }

    tbody .td-open .open-subtree,
    tbody .td-open .td-tick {
        background-color: transparent;
        background-repeat: no-repeat;
        border: none;
        margin: 0;
        padding: 0;
    }

    tbody .td-open .tick {
        height: 10px;
        width: 10px;
        margin-left: 5px;
        background-image: $svg-tick;
        display: none;
    }

    tbody .td-open .open-subtree {
        height: 20px;
        width: 20px;
    }

    tbody .selected .td-open .tick {
        display: block;
    }

    tbody .selected .td-open .open-subtree {
        display: none;
    }

    tbody tr.selected:hover .td-open .tick {
        display: none;
    }

    tbody tr.selected:hover .td-open .open-subtree {
        display: block;
    }

    tbody tr:hover {
        background-repeat: no-repeat;
        cursor: pointer;
    }

    tbody tr:hover .open-subtree {
        background-image: url("../../../../images/newTabGhost3.svg");
        opacity: 0.5;
    }

    tbody tr:active .open-subtree {
        background-image: none;
    }

    tbody tr:hover .open-subtree:hover {
        background-image: $svg-new-tab;
        opacity: 1;
    }

    tbody tr:hover .open-subtree:active {
        background-image: $svg-new-tab-active;
    }

    .detail .header {
        font-size: 0.7em;
        width: 90px;
        color: $lens-text-soft;
        padding: 10px 0 5px 0;
        font-weight: 500;
    }

    // .tree,
    // .socket,
    // .node,
    // .parent,
    // .option {
    //     font-size: 0.7em;
    //     font-weight: 500;
    //     display: table;
    //     width: 100%;
    //     margin: 30px 0 0 0;
    // }

    .socket,
    .option {
        margin: 0 0 8px 10px;
    }

    .parent {
        margin: 0 0 0 25px;
    }

    .key,
    .value,
    .index {
        display: table-cell;
        padding: 3px 0;
    }

    .value {
        white-space: pre-wrap;
    }

    .row {
        display: table-row;
        width: 100%;
    }

    .key {
        color: $lens-text-soft;
        padding: 3px 5px 3px 20px;
        width: 126px;
    }

    .index {
        color: $lens-text-soft;
        width: 15px;
    }

    .icons .search-icon {
        position: relative;
        background-repeat: no-repeat;
        width: 25px;
        height: 25px;
        top: 0;
        left: 7px;
        background-image: url("../../../../images/searchHighlight.svg");
        background-image: url("../../../../images/searchHighlight2.svg");
    }

    .selected-result {
        margin-top: 40px;
    }
}