@import '../../../init/scss/_settings';
@import '../../../init/scss/_images';


#botsView {
    color: $lens-text-hard;

    .loading {
        margin: 60px 0 0 100px;

        .bot-spinner {
            position: relative;
            margin: -60px 0 0 0;
        }
    }

    #drafts,
    #aliases {
        border: 1px solid $box-border;
        border-radius: 2px;
        background-color: $bot-table-background;
        padding: 0 0 20px 0;
        min-height: 100px;
    }

    #aliases {
        margin: 0 0 100px 0;
    }

    h3 {
        margin: 5px 0 20px 10px;
        font-weight: 500;
        font-size: 1em;
    }

    .aliases-zero {
        text-align: center;
        line-height: 1.7em;
        margin-top: -10px;
        font-weight: 300;
        font-size: 0.8em;
        font-style: italic;
    }

    .bot-display {
        margin: 50px 10px;
        width: calc(50% - 14px);
        padding: 0 8px 0 0;
        box-sizing: border-box;
    }

    .alias-table,
    .draft-table {
        display: table;
        width: 100%;
    }

    .alias-row,
    .draft-row {
        color: $lens-text-soft;
        color: rgb(0, 230, 255);
        font-size: 0.8em;
        font-weight: 400;
        margin: 0 10px;
        padding: 0 10px;
        display: table-row;
    }

    .alias-cell,
    .draft-cell {
        width: 30px;
        display: table-cell;
        padding: 0;
    }

    .icon {
        width: 30px;
        margin: 0;
        padding: 0;
    }

    .narrow,
    .narrow>.icon {
        width: 22px;
    }

    .icon.button {
        border: 1px solid transparent;
        border-radius: 2px;
        padding: 2px 0px 5px 0px;
        margin: 0 2px;
    }

    .icon.button.on,
    .icon.button.on-quiet {
        cursor: pointer;
    }

    .icon.button.on-quiet {
        margin: 0;
    }

    .icon.button.on:hover,
    .icon.button.on-quiet:hover {
        border-color: rgb(0, 255, 255);
        background-color: rgba(255, 255, 255, 0.2);
    }

    .icon.disabled.button.on:hover,
    .icon.disabled.button.on-quiet:hover {
        border-color: transparent;
        background-color: transparent;
    }

    .name {
        display: table-cell;
        padding: 5px 5px 5px 10px;
        vertical-align: middle;
    }

    .bot-icon,
    .info-icon,
    .draft-icon,
    .edit-icon,
    .promote-icon,
    .delete-icon,
    .tick-icon {
        height: 20px;
        width: 20px;
        margin-left: 5px;
        display: block;
        background-repeat: no-repeat;
        position: relative;
        opacity: 0.5;
    }

    .icon .tick-icon {
        background-image: $svg-tick;
        width: 13px;
        height: 13px;
        top: -8px;
        left: 3px;
    }

    .bot-icon {
        background-image: url("../../../../images/botGhost3.svg");
    }

    .draft-icon {
        background-image: url("../../../../images/botGhost3.svg");
    }

    .info-icon {
        display: none;
        background-image: $svg-info;
        top: -4px;
        margin: 0;
    }

    .tick-icon {
        background-image: $svg-info;
    }

    .alias-row.selected,
    .alias-row:hover,
    .draft-row.selected,
    .draft-row:hover {
        color: $lens-text-hard;
        background-color: rgba(0, 0, 0, 0.2);
        background-blend-mode: multiply;

        .bot-icon,
        .draft-icon,
        .tick-icon {
            opacity: 1;
        }

        .icon:hover .edit-icon {
            background-image: url("../../../../images/pencil6.svg");
            opacity: 1;
        }

        .icon:hover .promote-icon {
            background-image: url("../../../../images/_promote-yellow.svg");
            opacity: 1;
        }

        .icon:hover .delete-icon {
            background-image: url("../../../../images/dustbin.svg");
            opacity: 1;
        }

        .bot-icon {
            background-image: $svg-bot;
        }

        .draft-icon {
            background-image: url("../../../../images/_botDraft.svg");
        }
    }

    .alias-row.selected,
    .draft-row.selected {
        background-color: rgba(0, 0, 0, 0.2);
    }

    .alias-row:hover,
    .draft-row:hover {
        background-color: rgba(0, 0, 0, 0.3);

        .edit-icon {
            background-image: url("../../../../images/pencilGhost.svg");
            top: 2px;
        }

        .promote-icon {
            background-image: url("../../../../images/_promoteGhost.svg");
            width: 30px;
        }

        .delete-icon {
            background-image: url("../../../../images/dustbinGhost.svg");
            top: 1px;
        }

        .icon.disabled:hover .delete-icon {
            background-image: url("../../../../images/dustbinGhost.svg");
            cursor: default;
            opacity: 0.5;
        }

        .info-icon {
            opacity: 1;
        }

        .info-icon {
            display: block;
        }

        .info-icon:hover {
            background-image: $svg-info-active;
        }
    }
}